* {
	margin: 0;
}

html, body {
	background: #222222;
	font-family: Helvetica, Arial, sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
}

input.marked, textarea.marked { color: #aaa; }

#wrapper {
	height: 90%;
	min-height: 90%;
	margin: 0 auto -40px;
}

#header {
	height: 40px;
	margin: 0;
	padding: 10px;
}

	#header #logo {
		display: block;
		float: left;
	}

		#header #logo h1 a {
			color: #fff;
			font-weight: normal;
			margin: 0;
			padding: 0;
			text-decoration: none;
		}

	#header #nav {
		display: block;
		float: right;
	}

		#header #nav a {
			color: #FF5D0D;
			text-decoration: none;
			padding: 0 5px;
			line-height: 40px;
		}

			#header #nav a:hover {
				color: #fff;
				text-decoration: underline;
			}

#map-wrapper {
	clear: both;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#mapid {
	background: #333;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 0;
}

#map-nav {
	background: #333;
	color: #fff;
	position: absolute;
	margin: 10px 10px 0 0;
	padding: 5px 8px;
	right: 0;
	z-index: 1;
}

	#map-nav a {
		color: #FF5D0D;
		font-size: 0.8em;
		margin: 0;
		padding: 0;
		text-decoration: none;
	}

		#map-nav a:hover {
			color: #fff;
			text-decoration: underline;
		}

.marker-box {
}

	.marker-box #markerHours,
	.marker-box #markerMins {
		font-size: 1.1em;
		text-align: center;
		width: 25px;
	}

	.marker-box .marker-edit label {
		vertical-align: middle;
	}

#mapid > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-tooltip-pane > div.leaflet-tooltip {
	font-size: 1.1em;
}

.stage-two-timer {
	color: green !important;
	font-weight: bold;
}

.stage-three-timer {
	color: red !important;
	font-weight: bold;
}